.contCont {
    display: flex;
    justify-content: center;
}

.btnCont{
    display: flex;
    justify-content: flex-end;
}

.boxCont {
    display: flex;
    justify-content: center;
    height: 700px;
    width: 700px;
}

/* .box {
    border-style: solid;
    height: 20px;
    width: 20px
}

.break {
    flex-basis: 100%;
    border-style: dotted;
}
 */
.column {
    display: flex;
    /* border-style: solid; */
    flex-basis: 100%;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    border-style: solid;
    flex-basis: 100%;
}