.contCont {
    display: flex;
    justify-content: center;
}

.btnCont{
    display: flex;
    justify-content: flex-end;
}

.boxCont {
    display: flex;
    justify-content: center;
    height: 700px;
    width: 700px;
}

.column {
    display: flex;
    /* border-style: solid; */
    flex-basis: 100%;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    border: 1px;
    border-style: solid;
    flex-basis: 100%;
}